@font-face {
  font-family: 'Noto Sans Arabic';
  src: local('Noto Sans Arabic'), local('NotoSansArabic'),
    url('./NotoSansArabic-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Arabic';
  src: local('Noto Sans Arabic'), local('NotoSansArabic'),
    url('./NotoSansArabic-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Arabic';
  src: local('Noto Sans Arabic'), local('NotoSansArabic'),
    url('./NotoSansArabic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Arabic';
  src: local('Noto Sans Arabic'), local('NotoSansArabic'),
    url('./NotoSansArabic-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Arabic';
  src: local('Noto Sans Arabic'), local('NotoSansArabic'),
    url('./NotoSansArabic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Arabic';
  src: local('Noto Sans Arabic'), local('NotoSansArabic'),
    url('./NotoSansArabic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Arabic';
  src: local('Noto Sans Arabic'), local('NotoSansArabic'),
    url('./NotoSansArabic-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Arabic';
  src: local('Noto Sans Arabic'), local('NotoSansArabic'),
    url('./NotoSansArabic-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Arabic';
  src: local('Noto Sans Arabic'), local('NotoSansArabic'),
    url('./NotoSansArabic-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

.font-noto-sans-arabic {
  font-family: 'Noto Sans Arabic', sans-serif;
}
